
#logo{
    width: 20%;
    flex: content;
    border-color: transparent;
    
  }
  #loading{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #e4eff2 url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif") no-repeat center center;
      z-index: 99999;
  }
  /* splash screen css ends here  */
  
  /* navbar css starts here  */
  .bg-light{
      background-color: #dbe2e5!important;
  }
  header {
    background-color: white;
  }
  .navbar-brand{
      font-family: 'Sansita Swashed', cursive;
      font-size: 1.5rem;
      color: #022061!important;
  }
  
  .nav-link{
      color: #5f6368!important;
      font-family: 'Noto Sans JP', sans-serif;
  }
  
  .nav-link:hover{
      background-color: #f3f1f1;
  }
  /* navbar css ends here  */
  
  /* here content css starts here  */
  .hero-content{
      height: 100vh;
      background-color: #e4eff2;
      color: black;
      padding: 2rem;
      border-bottom-left-radius: 45rem;
      border-bottom-right-radius: 45rem;
      margin-bottom: 0.5vh;
  }
  .get-started-content{
      height: 60vh;
      background-color: #ff8a65;
      border-top-left-radius: 42rem;
      border-top-right-radius: 42rem;
      border-bottom-right-radius: 42rem;
      border-bottom-left-radius: 42rem;
  }
  
  .get-started-content .row{
      padding: 25vh 0;
  }
  
  .get-started-content a{
      border-radius: 0.5rem;
      padding: 1rem 2rem;
      font-size: 162%;
      background-color: #039be5;
      color: #fff!important;
      transition: 0.3s;
  }
  
  .get-started-content a:hover{
      background-color: #017ab6;
      text-decoration: none;
  }
  .hero-img{
      height: 68vh;
      width: 83%;
  }
  
  @media only screen and (max-width: 766px) {
      .hero-img {
        display: none;
      }
  }
  
  .get-started{
      border-radius: 0.5rem;
      padding: 1rem 2rem;
      font-size: 162%;
      background-color: #fff;
      color: #022061!important;
      transition: 0.3s;
  }
  
  .get-started:hover{
      text-decoration: none;
      background-color: #bfdff0;
      
  }
  /* here content css starts here  */
  
  /* get-started-buttons css starts here*/
  .get-started-content{
      height: 60vh;
      background-color: #ff8a65;
      border-top-left-radius: 42rem;
      border-top-right-radius: 42rem;
      border-bottom-right-radius: 42rem;
      border-bottom-left-radius: 42rem;
  }
  
  .get-started-content .row{
      padding: 25vh 0;
  }
  
  .get-started-content a{
      border-radius: 0.5rem;
      padding: 1rem 2rem;
      font-size: 162%;
      background-color: #039be5;
      color: rgb(0, 0, 0)!important;
      transition: 0.3s;
      text-align: center;
  }
  
  .get-started-content a:hover{
      background-color: #017ab6;
      text-decoration: none;
    
  }
  /* get-started-buttons css end here*/
  
  /* footer css starts here */
  /* footer */
  .fa:hover {
    color: red;
     transform:scale(1.3);
  
  
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa {
    padding: 15px;
    font-size: 12px;
    width: 40px;
     height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .footer{
    background-color: #e4eff2;
      padding: 5px;
  
  }
  /* footer css ends here  */
  
  
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  font-family: "Open Sans", cambria;
  
}
* {
  font-family: Poppins,sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#login{
height: 47vh;
width: 100%;
display:flex;
justify-content: right;


}
.form{
  max-width: 430;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background-color: #e4eff2;

}

#start{
text-align: center;
display: flex;
font-size: 28px;
font-weight: 600;
color: black;
justify-content: center;
  font-family: "Open Sans", cambria;

}

.account {
  text-align: center;
  display: none;
  background-color: #464D41;
  box-shadow: 5px 5px 2.5px #533633;
  padding: 15px;
  margin-top: 15px;
}

.footer-basic {
  padding:40px 0;
 
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}


.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.error{
color: red;
} 
  